body {
	margin: 0;
	padding: 0;

	/*background-color: #483D8B;*/


	background: linear-gradient( to right, #003, #007);





	font-family: Courier;
	color: #fff;
	text-align: center;

}

.hide {
	display: none;
}


.clear {
	clear: both;
}





